# ----------------------------------------------------------------
# SO / IDE / EDITOR
# ----------------------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------------------------------------------------------
# LOG FILES
# ----------------------------------------------------------------
*.log

# ----------------------------------------------------------------
# TERRAFORM
# ----------------------------------------------------------------
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars

# ----------------------------------------------------------------
# CREDENTIALS AND LOCAL SETTINGS
# ----------------------------------------------------------------
.aws/
.env

# ----------------------------------------------------------------
# EXAMPLES OF OTHER LANGUAGES/TECHNOLOGIES (REMOVE IF NOT USED)
# ----------------------------------------------------------------
# Python virtual environment
venv/
__pycache__/

# Node.js
node_modules/
